<!DOCTYPE html>
<html lang="en">
    <%- include('partials/head') %> 
<body>
    <%- include('partials/header') %> 
    <section class="section-name  padding-y-sm">
        <div class="container">
            <header class="section-heading">
                
                <h3 class="section-title">Categorias</h3>
            </header><!-- sect-heading -->
            
            
            
            <div class="row">
 
                <% categorias.forEach(categoria => { %>
             
            
            
                    <div class="col-lg-3 col-md-4 col-sm-6">
                        <div href="#" class="card card-product-grid">
                            <a href="#" class="img-wrap"> <img src="/images/products/<%= categoria.imagen %> "></a>
                            <figcaption class="info-wrap">
                                <a href="#" class="title"><%= categoria.nombre %> </a>
                                
                            </figcaption>
                        </div>
                    </div> 
                <% }) %>
                
            </div> <!-- row.// -->
            
                
            </header><!-- sect-heading -->
        </div><!-- container // -->
    </section>
    <%- include('partials/footer') %> 
</body>
</html>