<!DOCTYPE html>
<html lang="en">
<%- include('partials/head') %>
<script src="/js/alerts.js"></script>
<body>
    <%- include('partials/header') %>
    <section class="section-pagetop bg">
        <div class="container">
            <h2 class="title-page">Categoria</h2>
            <nav>
                <ol class="breadcrumb text-white">
                    <li class="breadcrumb-item"><a href="/">Inicio</a></li>
                    <li class="breadcrumb-item"><a href="/categories/categorieslist">Categorias</a></li>
                    <li class="breadcrumb-item active" aria-current="page"><%= category.name  %> </li>
                </ol>
            </nav>
        </div>
    </section>
    <div class="container padding-y">

        <div class="row mb-5">
            <%- include('partials/menuPerfil') %>
            <main class="col-md-9">
                <article class="card">
                    <div class="card-body">
                        <div class="row">
                            <aside class="col-md-9">
                                <h5>Editar Categoria</h5>
                                <form action="/categories/categorieslist/<%=category.id%>?_method=PUT" method="POST">
                                    <div class="form-group form-row">
                                        <label class="col-md-3 col-form-label">Nombre</label>
                                        <div class="col">
                                            <input type="text" class="form-control" placeholder="Nombre"
                                                name="name" value="<%=category.name%>">
                                        </div>
                                    </div>

                                    <div class="form mb-2">
                                        <div class="offset-sm-3">
                                            <a href="/categories/categorieslist">
                                                <button class="btn btn-outline-primary" type="button" onclick="return ConfirmCancelEdit()">
                                                    <span class="text">Cancelar</span>
                                                </button>
                                            </a>
                                            <button class="btn btn-primary" type="submit" onclick="return ConfirmEdit()">
                                                <span class="text">Aplicar</span>
                                            </button>
                                        </div>
                                    </div>
                            </aside>
                        </div>
                    </div>
        </div>
        <%- include('partials/footer') %>
</body>

</html>