<!DOCTYPE html>
<html lang="es">
<%- include('partials/head.ejs') %>

<body>
    <%- include('partials/header') %>
    <section class="section-pagetop bg">
        <div class="container">
            <h2 class="title-page">Categorias</h2>

            <nav>
                <ol class="breadcrumb text-white">
                    <li class="breadcrumb-item"><a href="/">Inicio</a></li>
                    <li class="breadcrumb-item"><a href="/users/profile">Mi cuenta</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Categorias</li>
                </ol>
            </nav>

        </div> <!-- container //  -->
    </section>

    <section class="section-content padding-y">
        <div class="container">

            <div class="row">
                <aside class="col-md-3">
                    <ul class="list-group">
                        <form class="pb-3">
                            <div class="input-group">
                                <input type="text" class="form-control" placeholder="Buscar">
                                <div class="input-group-append">
                                    <button class="btn btn-light" type="button"><i class="fa fa-search"></i></button>
                                </div>
                            </div>
                        </form>
                        <a class="profile list-group-item" href="/users/profile">Perfil</a>
                        <a class="profile list-group-item" href="/users/productlist">Productos</a>
                        <a class="profile list-group-item" href="/categories/categorieslist">Categorias</a>
                        <a class="profile list-group-item" href="/users/userslist">Usuarios</a>
                        <a class="profile list-group-item" href="#">Configuraciones</a>
                        <a class="profile list-group-item" href="#">Mis Ordenes</a>
                    </ul>
                    <br>
                    <a class="btn btn-light btn-block" href="/users/logout">
                        <i class="fa fa-power-off"></i>
                        <span class="text">Salir</span>
                    </a>
                </aside>
                <main class="col-md-9">

                    <header class="border-bottom mb-4 pb-3">
                        <div class="form-inline">
                            <span class="mr-md-auto"><%= total %> categorias</span>
                            <div class="btn-group">
                                <a href="/categories/add" class="btn  btn-outline-secondary" data-toggle="tooltip" title=""
                                    data-original-title="Grid view">
                                    <i class="fas fa-plus"></i></a>
                                <a href="#" class="btn btn-outline-secondary active" data-toggle="tooltip" title=""
                                    data-original-title="List view">
                                    <i class="fa fa-bars"></i></a>
                                <a href="#" class="btn  btn-outline-secondary" data-toggle="tooltip" title=""
                                    data-original-title="Grid view">
                                    <i class="fa fa-th"></i></a>

                            </div>
                        </div>
                    </header><!-- sect-heading -->

                    <% categories.forEach(category => { %>
                    <article class="card card-product-list">
                        <div class="row no-gutters">
                            <aside class="col-md-3">
                                <a href="/categories/categorieslist/<%= category.id %>" class="img-wrap">
                                    <img src="/images/imagenproducto.jpg">
                                </a>
                            </aside> <!-- col.// -->
                            <div class="col-md-6">
                                <div class="info-main">
                                    <a href="/users/userslist/<%= user.id %>" class="h5 title mb-4">
                                        <%= category.name %></a>
                                </div> <!-- info-main.// -->
                            </div> <!-- col.// -->
                            <aside class="col-sm-3">
                                <div class="info-aside">
                                    <br>
                                    <p>
                                        <a href="/users/userslist/<%= category.id %>" class="btn btn-primary btn-block">
                                            Productos </a>
                                        <a href="/categories/categorieslist/<%= category.id %>"
                                            class="btn btn-light btn-block">
                                            <span class="text">Editar</span>
                                        </a>
                                    </p>
                                </div> <!-- info-aside.// -->
                            </aside> <!-- col.// -->
                        </div> <!-- row.// -->
                    </article> <!-- card-product .// -->
                    <% }) %>

                    <nav aria-label="Page navigation sample">
                        <ul class="pagination">
                            <li class="page-item disabled"><a class="page-link" href="#">Anterior</a></li>
                            <li class="page-item active"><a class="page-link" href="#">1</a></li>
                            <li class="page-item"><a class="page-link" href="#">2</a></li>
                            <li class="page-item"><a class="page-link" href="#">3</a></li>
                            <li class="page-item"><a class="page-link" href="#">Siguiente</a></li>
                        </ul>
                    </nav>

                </main> <!-- col.// -->
            </div>
        </div> <!-- container .//  -->
    </section>
    <%- include('partials/footer') %>
</body>

</html>