<!DOCTYPE html>
<html lang="es">
<%- include('partials/head.ejs') %>
<script src="/js/gridAndList.js"></script>

<body>
    <%- include('partials/header') %>
    <section class="section-pagetop bg">
        <div class="container">
            <h2 class="title-page">Productos</h2>
            <nav>
                <ol class="breadcrumb text-white">
                    <li class="breadcrumb-item"><a href="/">Inicio</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Productos</li>
                </ol>
            </nav>
        </div>
    </section>

    <section class="section-content padding-y">
        <div class="container">

            <div class="row">
                <aside class="col-md-3">

                    <div class="card">
                        <article class="filter-group">
                            <header class="card-header">
                                <a href="#" data-toggle="collapse" data-target="#collapse_1" aria-expanded="true"
                                    class="">
                                    <i class="icon-control fa fa-chevron-down"></i>
                                    <h6 class="title">Categorias</h6>
                                </a>
                            </header>
                            <div class="filter-content collapse show" id="collapse_1">
                                <div class="card-body">
                                    <ul class="list-menu">
                                        <% for(let i = 0; i < categories.length; i++){ %>
                                        <li><a href="/categories/search/<%=categories[i].id %> "><%= categories[i].name  %>
                                            </a></li>
                                        <% } %>

                                    </ul>
                                </div> <!-- card-body.// -->
                            </div>
                        </article> <!-- filter-group  .// -->
                        <article class="filter-group">
                            <header class="card-header">
                                <a href="#" data-toggle="collapse" data-target="#collapse_2" aria-expanded="false"
                                    class="">
                                    <i class="icon-control fa fa-chevron-down"></i>
                                    <h6 class="title">Marcas </h6>
                                </a>
                            </header>
                            <div class="filter-content collapse show" id="collapse_2">
                                <div class="card-body">
                                    <label class="custom-control custom-checkbox">
                                        <input type="checkbox" checked="" class="custom-control-input">
                                        <div class="custom-control-label">Asus
                                            <b class="badge badge-pill badge-light float-right">120</b> </div>
                                    </label>
                                    <label class="custom-control custom-checkbox">
                                        <input type="checkbox" checked="" class="custom-control-input">
                                        <div class="custom-control-label">Intel
                                            <b class="badge badge-pill badge-light float-right">15</b> </div>
                                    </label>
                                    <label class="custom-control custom-checkbox">
                                        <input type="checkbox" checked="" class="custom-control-input">
                                        <div class="custom-control-label">AMD
                                            <b class="badge badge-pill badge-light float-right">35</b> </div>
                                    </label>
                                    <label class="custom-control custom-checkbox">
                                        <input type="checkbox" checked="" class="custom-control-input">
                                        <div class="custom-control-label">Hyperx
                                            <b class="badge badge-pill badge-light float-right">89</b> </div>
                                    </label>
                                    <label class="custom-control custom-checkbox">
                                        <input type="checkbox" class="custom-control-input">
                                        <div class="custom-control-label">Redragon
                                            <b class="badge badge-pill badge-light float-right">30</b> </div>
                                    </label>
                                </div> <!-- card-body.// -->
                            </div>
                        </article> <!-- filter-group .// -->
                        <article class="filter-group">
                            <header class="card-header">
                                <a href="#" data-toggle="collapse" data-target="#collapse_3" aria-expanded="false"
                                    class="">
                                    <i class="icon-control fa fa-chevron-down"></i>
                                    <h6 class="title">Precio </h6>
                                </a>
                            </header>
                            <div class="filter-content collapse show" id="collapse_3">
                                <div class="card-body">
                                    <input type="range" class="custom-range" min="0" max="100" name="">
                                    <div class="form-row">
                                        <div class="form-group col-md-6">
                                            <label>Min</label>
                                            <input class="form-control" placeholder="$0" type="number">
                                        </div>
                                        <div class="form-group text-right col-md-6">
                                            <label>Max</label>
                                            <input class="form-control" placeholder="$1,0000" type="number">
                                        </div>
                                    </div> <!-- form-row.// -->
                                    <button class="btn btn-block btn-primary">Aplicar</button>
                                </div><!-- card-body.// -->
                            </div>
                        </article> <!-- filter-group .// -->

                    </div> <!-- card.// -->

                </aside> <!-- col.// -->
                <main class="col-md-9">



                    <header class="border-bottom mb-4 pb-3">
                        <div class="form-inline">
                            <span class="mr-md-auto"><%= total %> productos</span>
                            <div class="btn-group">
                                <a id="filasBoton" href="#" class="btn btn-outline-secondary active"
                                    data-toggle="tooltip" title="" data-original-title="List view">
                                    <i class="fa fa-bars"></i></a>
                                <a id="gridBoton" href="#" class="btn  btn-outline-secondary" data-toggle="tooltip"
                                    title="" data-original-title="Grid view">
                                    <i class="fa fa-th"></i></a>

                            </div>
                        </div>
                    </header>



                    <div id="grid" class="row disnone">
                        <% products.forEach(product => { %>
                        <div class="col-md-4">
                            <figure class="card card-product-grid ">
                                <div class="img-wrap">
                                    <a href="/product/detail/<%= product.id %>"><img
                                            src="/images/productImages/<%= product.images %>"></a>

                                </div>
                                <figcaption class="info-wrap">
                                    <div class="info-main">
                                        <a href="/product/detail/<%= product.id %>" class="h6 title">
                                            <%= product.name %> </a>
                                        <div class="price-wrap">
                                            <span
                                                class="price h5">$<%= product.price/*.toString().replace(/(\d)(?=(\d{3})+(?!\d))/g, "$1.");*/  %>
                                            </span>
                                        </div>
                                    </div>
                                    <div class="info-aside">
                                        <br>
                                        <p>
                                            <a href="/product/detail/<%= product.id %>"
                                                class="btn btn-primary btn-block">Detalles</a>
                                            <a href="#" class="btn btn-light btn-block">
                                                <span class="text">Añadir</span>
                                                <i class="fas fa-shopping-cart"></i>
                                            </a>
                                        </p>
                                    </div>

                                </figcaption>
                            </figure>
                        </div>
                        <% }) %>
                    </div>


                    <div id=filas>
                        <% products.forEach(product => { %>
                        <article class="card card-product-list">
                            <div class="row no-gutters">
                                <aside class="col-md-3">
                                    <a href="/product/detail/<%= product.id %>" class="img-wrap">
                                        <img src="/images/productImages/<%= product.images %>">
                                    </a>
                                </aside> <!-- col.// -->
                                <div class="col-md-6">
                                    <div class="info-main">
                                        <a href="/product/detail/<%= product.id %>" class="h5 title mb-4">
                                            <%= product.name %> </a>
                                        <p> <%= product.description %> </p>
                                        
                                    </div> <!-- info-main.// -->
                                </div> <!-- col.// -->
                                <aside class="col-sm-3">
                                    <div class="info-aside">

                                        <br>
                                        <p>
                                            <a href="/product/detail/<%= product.id %>"
                                                class="btn btn-primary btn-block">Detalles</a>
                                            <a href="#" class="btn btn-light btn-block">
                                                <span class="text">Añadir</span>
                                                <i class="fas fa-shopping-cart"></i>
                                            </a>

                                        </p>
                                    </div> <!-- info-aside.// -->
                                </aside> <!-- col.// -->
                            </div> <!-- row.// -->
                        </article> <!-- card-product .// -->
                        <% }) %>
                    </div>


                    <nav aria-label="Page navigation sample">
                        <ul class="pagination">
                            <li class="page-item disabled"><a class="page-link" href="#">Anterior</a></li>
                            <li class="page-item active"><a class="page-link" href="#">1</a></li>
                            <li class="page-item"><a class="page-link" href="#">2</a></li>
                            <li class="page-item"><a class="page-link" href="#">3</a></li>
                            <li class="page-item"><a class="page-link" href="#">Siguiente</a></li>
                        </ul>
                    </nav>

                </main> <!-- col.// -->
            </div>
        </div> <!-- container .//  -->
    </section>
    <%- include('partials/footer') %>
</body>

</html>