<!DOCTYPE html>
<html lang="en">
<%- include('partials/head') %>

<body>
    <%- include('partials/header') %>
    <div class="container padding-y">
        <div class="card">
            <div class="row no-gutters">
                <aside class="col-md-6">
                    <article class="gallery-wrap">
                        <div class="img-big-wrap">
                            <div> <a href="#"><img src="/images/productImages/<%= product.images %>"></a></div>
                        </div> <!-- slider-product.// -->
                        <div class="thumbs-wrap">
                            <a href="" class="item-thumb"> <img src="/images/productImages/<%= product.images %>"></a>
                            <a href="" class="item-thumb"> <img src="/images/productImages/<%= product.images %>"></a>
                            <a href="" class="item-thumb"> <img src="/images/productImages/<%= product.images%>"></a>
                        </div> <!-- slider-nav.// -->
                    </article> <!-- gallery-wrap .end// -->
                </aside>
                <main class="col-md-6 border-left">
                    <article class="content-body">
                        <form action="/product/edit/<%=product.id %>?_method=PUT" method="POST" enctype="multipart/form-data">

                            <div class="form-group">
                                <input type="text" placeholder="Nombre" class="form-control" name="name"
                                    value="<%= product.name  %> ">
                            </div>

                            <div class="mb-3">
                                <div class="form-group">
                                    <input type="number" placeholder="Precio" class="form-control" name="price"
                                        value=<%= product.price%>>
                                </div>
                            </div> <!-- price-detail-wrap .// -->

                            <select id="inputState" class="form-control mb-3" name="category">
                            <% categories.forEach(category => { %>
                                <% if (category.id == product.id_category) { %>
                                    <option value=" <%= category.id %>" selected> 
                                        <%= category.name %>
                                    </option>
                                <% }else{%>
                                    <option value=" <%= category.id %>"> 
                                        <%= category.name %>
                                    </option>
                                <%} %>
                            <% }) %>
                            </select>


                            <div class="form-group">
                                <textarea class="form-control" id="exampleFormControlTextarea1"
                                    placeholder="Descripcion" rows="3"
                                    name="description"><%= product.description  %></textarea>
                                <small class="form-text text-muted"> El carácter máximo es de 250 letras </small>
                            </div>


                            <div class="mb-3">
                                <div class="form-group">
                                    <input type="file" class="form-control" name="image" value="<%= product.image %>">
                                </div>
                            </div> 
                            <div class="form-group">
                                <label class="float-left custom-control custom-checkbox"> 
                                    <input type="checkbox" class="custom-control-input" name="status" value="<%=product.status%>"> 
                                    <div class="custom-control-label">Destacado</div> 
                                </label>
                            </div>


                            <div class="form">
                                <label >Garantia</label>
                                <div class="form-group flex-grow-0">
                                    <div class="input-group mb-3 input-spinner">
                                        <div class="input-group-prepend">
                                            <button class="btn btn-light" type="button" id="button-minus"> − </button>
                                        </div>
                                        <input type="text" class="form-control" name="warranty"
                                            value=<%= product.warranty %>>
                                        <div class="input-group-append">
                                            <button class="btn btn-light" type="button" id="button-plus"> + </button>
                                        </div>
                                    </div>
                                    
                                </div> <!-- col.// -->
                            </div>
                            <hr>
                            <a href="/users/productlist">
                                <button class="btn btn-outline-primary" type="button">
                                    <span class="text">Cancelar</span>
                                </button>
                            </a>

                            <button class="btn btn-primary" type="submit">
                                <span class="text">Aplicar</span>
                            </button>

                        </form>
                        

                    </article> <!-- product-info-aside .// -->
                </main> <!-- col.// -->
            </div> <!-- row.// -->
        </div>
        <!--       <section class="padding-y">
            <hr class="divider">
        </section>

        <output>
             ============================ COMPONENT DETAIL 4  ================================= 
            <article class="card">
                <div class="card-body">
                    <div class="row">
                        <aside class="col-md-7">
                            <h5>Caracteristicas</h5>
                            <dl class="row">
                                <dt class="col-sm-5">
                                    <div class="form-group">
                                        <input type="text" placeholder="Caracteristica" class="form-control" name="">
                                    </div>
                                </dt>
                                <dd class="col-sm-5">
                                    <div class="form-group">
                                        <input type="text" placeholder="Especifacion" class="form-control" name="">

                                    </div>
                                </dd>
                                <div class="col-sm-1">
                                    <a href="#" class="btn  btn-outline-primary"><i class="fas fa-plus"></i> </a>
                                </div>
                                <dt class="col-sm-5">Caracteristica</dt>
                                <dd class="col-sm-5">Especifacion</dd>

                            </dl>
                        </aside>
                        <aside class="col-md-5">
                            <h5>Tener en cuenta</h5>
                            <ul class="list-check">
                                <li>Hacemos factura A y B.</li>
                                <li>Todos los precios son finales IVA incluido.</li>
                                <li>No aceptamos ningún product en parte de pago.</li>
                                <li>Todos nuestro artículos son nuevos y se entregan en su empaque original.</li>
                            </ul>
                        </aside>
                    </div>  row.// -
                    <hr>
                    <p>
                        Para mas informacion visitar la pagina del fabricante <a href="#l">link del product</a>
                    </p>
                </div>  card-body.// 
            </article> card.// 
            ============================ COMPONENT DETAIL 4 .//END ================================= 
        </output> -->
    </div>
    <%- include('partials/footer') %>
</body>

</html>