<!DOCTYPE html>
<html lang="en">
<%- include('partials/head') %>

<body>
    <%- include('partials/header') %>
    <div class="container padding-y">
            <div class="row mb-5">
                <aside class="col-md-3">
                    <!--   SIDEBAR   -->
                    <ul class="list-group">
                        <a class="profile list-group-item" href="/users/productlist">Modificar Productos</a>
                        <a class="profile list-group-item" href="#">Categoria</a>
                        <a class="profile list-group-item" href="/users/productlist">Categoria</a>
                        <a class="profile list-group-item" href="#">Categoria</a>
                        <a class="profile list-group-item" href="#">Categoria</a>
                        <a class="profile list-group-item" href="#">Categoria</a>
                    </ul>
                    <br>
                    <a class="btn btn-light btn-block" href="/users/logout"> <i class="fa fa-power-off"></i> <span class="text">Salir</span> </a> 
                    <!--   SIDEBAR .//END   -->
                </aside>
                <main class="col-md-9">
                    <article class="card">
                    <header class="card-header">
                        <h4 class="d-inline-block mr-3">Bienvenido</h4>
                    </header>
                    <div class="card-body">
                        <div class="row">
                            <aside class="col-md-6">
                                <h5>Datos Personales</h5>
                                <dl class="row">     
                                      <dt class="col-sm-3">Nombre</dt>
                                      <dd class="col-sm-9"><%=  user.first_name + " " + user.last_name %> </dd>
                
                                      <dt class="col-sm-3">Email</dt>
                                      <dd class="col-sm-9"><%= user.email %> </dd>
                
                                      <dt class="col-sm-3">Telefono</dt>
                                      <dd class="col-sm-9"><%= user.phone %> </dd>
                
                                      <dt class="col-sm-3">DNI</dt>
                                      <dd class="col-sm-9">42435829</dd>
                                      
                                </dl>
                            </aside>
                            <aside class="col-md-6">
                                <h5>Datos de envio</h5>
                                <dl class="row">     
                                      <dt class="col-sm-3">Provincia</dt>
                                      <dd class="col-sm-9"></dd>
                
                                      <dt class="col-sm-3">Ciudad</dt>
                                      <dd class="col-sm-9"></dd>
                
                                      <dt class="col-sm-5">Codigo Postal</dt>
                                      <dd class="col-sm-7"></dd>
                
                                      <dt class="col-sm-3">Calle</dt>
                                      <dd class="col-sm-9"></dd>

                                      <dt class="col-sm-3">Numero</dt>
                                      <dd class="col-sm-9"></dd>

                                      <dt class="col-sm-3">Piso</dt>
                                      <dd class="col-sm-9"></dd>

                                      <dt class="col-sm-3">Dpto</dt>
                                      <dd class="col-sm-9"></dd>
                                      
                                </dl>
                            </aside>
                        </div> <!-- row.// -->
                    </div>
        </div>
    <%- include('partials/footer') %>
</body>

</html>